* {
  margin: 0;
  padding: 0;
}
body {
  background-color: black;
}
.container {
  width: auto;
  max-width: 1440px;

  margin: 0 auto;
  padding: 0 20px;
}
.header-navigation {
  display: flex;
}
.menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
  list-style: none;
  color: white;
  padding-top: 20px;
  padding-right: 16px;
  width: 500px;
  height: 50px;
}

html {
  scroll-behavior: smooth;
}

.nav-link {
  padding: 20px 15px;
  line-height: 50px;
  transition: 0.3s;
  color: #ffffff;
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  letter-spacing: 0.05px;
  box-sizing: content-box;
}

.section-item a:hover {
  color: #4d2323;
}

.header > .container {
  background: url("./assets/img/bg.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
}

.logo-image {
  padding: 20px 0 0 20px;
  height: 50px;
  width: 50px;
  overflow: hidden;
  position: relative;
}
.logo-image:hover,
.nav-link:hover,
#en:hover,
#ru:hover,
.theme-switch:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);

  background-size: contain;
  background-repeat: no-repeat;
  transition: 0.5s;
  cursor: pointer;
}

.lang-switch-container {
  width: 70px;
  height: 50px;
  display: flex;
  line-height: 50px;
  list-style: none;
  color: white;
  padding: 20px 30px 20px 0;
  box-sizing: content-box;
}

.lang-item {
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 50px;
  letter-spacing: 0.1px;
  padding-right: 10px;
}

#divider {
  width: auto;
}

.hero-text {
  padding: 160px 0 0 80px;
  height: 330px;
  width: 500px;
}

.hero-text > .section-title {
  color: #ffffff;
  font-family: "Merriweather", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 120px;
  letter-spacing: 0.05px;
}
.hero-text > p {
  color: #ffffff;
  font-size: 20px;
  width: 490px;
  height: 120px;
  line-height: 40px;
  top: 130px;
  font-weight: normal;
  font-family: "Inter", sans-serif;
  font-style: normal;
  margin-bottom: 25px;
  margin-top: 10px;
  letter-spacing: 0.0001px;
  word-spacing: 0.01px;
}

.hero-container {
  background-color: #000000;
  background-image: url("./assets/img/bg.jpg");
  background-repeat: no-repeat;

  background-position: center -90px;
  background-repeat: no-repeat;
  height: 820px;
}

#hire-me-btn {
  width: 220px;
  height: 55px;
  font-size: 20px;
  font-style: normal;
  align-content: center;
  border: solid #bdae82;
  background-color: #bdae82;
  font-family: "Inter", sans-serif;
  font-weight: normal;
  line-height: 40px;
  overflow: hidden;
  position: relative;
}

#hire-me-btn:hover {
  transition: 0.5s;
  cursor: pointer;
  background-color: black;
  color: #bdae82;
  border: 2px solid #bdae82;
}

#hire-me-btn:focus {
  outline: none;
}

.order,
.send-message {
  overflow: hidden;
  position: relative;
}
#hire-me-btn .circle,
.order .circle,
.send-message .circle {
  position: absolute;
  background-color: #fff;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  animation: scale 0.5s ease-out;
}

@keyframes scale {
  to {
    transform: translate(-50%, -50%) scale(3);
    opacity: 0;
  }
}

.skills-container {
  background-color: black;
}

.header-section {
  display: flex;
  color: #bdae82;
  font-size: 40px;
  font-family: "Merriweather", serif;
  line-height: 80px;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  width: auto;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
.horizontal-line {
  align-self: center;
  width: 294px;
  size: 4px;
  border-color: #bdae82;
}
.header-section > .section-title {
  padding: 100px 20px;
  font-size: 40px;
}

.skills-items {
  display: flex;
  height: 242px;
  width: auto;
  max-width: 1440px;
  margin-top: -35px;
}
.skills-items > div {
  width: 320px;
  height: 240px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.skills-items > div > img {
  margin-left: auto;
  margin-right: auto;
}

@keyframes bounce {
  0%,
  20%,
  60%,
  100% {
    transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    transform: translateY(-20px);
    transform: translateY(-20px);
  }

  80% {
    transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

.skills-camera {
  width: 62px;
  height: 50px;
}

.skills-camera:hover {
  animation: bounce 1s;
}

.skills-video:hover {
  animation: bounce 1s;
}
.skills-image:hover {
  animation: bounce 1s;
}
.skills-mic:hover {
  animation: bounce 1s;
}

.skills-video {
  width: 60px;
  height: 50px;
}

.skills-image {
  width: 66px;
  height: 50px;
}
.skills-mic {
  width: 32px;
  height: 50px;
}

.skills-title {
  padding: 50px 0 0 20px;
  font-weight: 700;
  font-size: 20px;
  width: 280px;
  font-style: normal;
  height: 40px;
  color: white;
  line-height: 40px;
  font-family: "Inter", sans-serif;
  text-align: center;
}

.skills-details {
  padding: 20px 0 0 20px;
  width: 280px;
  height: 72px;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  color: white;
  line-height: 36px;
  font-family: "Inter", sans-serif;
  text-align: center;
}

#seasons {
  display: flex;
  width: 895px;
  height: 55px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -40px;
}
.portfolio-items {
  display: flex;
  align-content: center;
  list-style: none;
}

#portfolio {
  width: 1440px;
  height: 1500px;
}
.season-button {
  color: #bdae82;
  width: 220px;
  height: 55px;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 40px;
  font-family: "Inter", sans-serif;
  text-align: center;
  border: 2px solid #bdae82;
  margin-right: 5px;
}
.season-button:hover {
  background-color: #bdae82;
  color: #000000;
  border: 2px solid rgb(32, 29, 22);
  cursor: pointer;
}

.season-highlight {
  background-color: #bdae82;
  color: #000000;
}

.portfolio-img-container > img {
  width: 450px;
  height: 560px;
  padding-right: 25px;
  padding-bottom: 25px;
}

.portfolio-img-container {
  width: 1440px;
  height: 1145px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
  margin-left: 20px;
}

#video {
  width: 1440px;
  height: 945px;
}

.video-player {
  background-image: url(assets/img/video-player.jpg);
  background-position: center 0px;
  background-repeat: no-repeat;

  width: 1400px;
  height: 705px;
  margin-top: -40px;
  margin-left: 20px;
  display: flex;
  justify-content: center;
}
.play-hover {
  width: 130px;
  height: 130px;
  padding-top: 288px;
  padding-left: 2px;
  padding-bottom: 288px;
  background-color: transparent;
  border: none;
}

.play-hover:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}

#price {
  width: 1440px;
  height: 845px;
}

#price-items-container {
  width: 1400px;
  height: 505px;
  display: flex;
  align-content: center;
  color: white;
  margin-top: -40px;
  margin-left: 20px;
}

#price-items-container > div {
  list-style: none;
  align-items: center;
  justify-content: flex-end;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

#price-items-container > div > div {
  width: 450px;
  height: 505px;
  text-align: center;
  border: 3px solid #bdae82;
  box-sizing: border-box;
  border-radius: 0px;
  margin-right: 25px;
}
.price-plan {
  text-align: center;
  font-weight: 400px;
  font-style: normal;
  padding-top: 40px;
  font-family: "Merriweather", serif;
  font-weight: bold;
  font-size: 28px;
  line-height: 56px;
  text-align: center;
}

.price {
  font-family: "Merriweather", serif;
  font-weight: bold;
  font-style: normal;
  font-size: 24px;
  line-height: 48px;
  color: #bdae82;
  padding-top: 20px;
}

.price-description {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 36px;
  margin-top: 20px;
  word-spacing: 0.5px;

  /* identical to box height, or 200% */
  text-align: center;
}

#price-items-container > div > div > form > button {
  width: 220px;
  height: 55px;
  color: black;
  background-color: #bdae82;
  border: #bdae82;
  font-size: 20px;
  font-family: "Inter", sans-serif;
  line-height: 40px;
  font-style: normal;
  font-weight: 400;
  margin-top: 40px;
}

#price-items-container > div > div > form > button:hover {
  transition: 0.5s;
  cursor: pointer;
  background-color: black;
  color: #bdae82;
  border: 2px solid #bdae82;
}

#contacts {
  background-image: url("./assets/img/contacts.jpg");
  width: 1440px;
  height: 700px;
}

.contacts-container {
  width: 450px;
  height: 445px;
  margin-left: auto;
  padding-top: 25px;
  padding-right: 50px;
  padding-bottom: 50px;
}
.contacts-container > h2 {
  color: #bdae82;
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  line-height: 80px;
}

.contacts-container > form {
  margin-top: 40px;
}

.contacts-container > form > input {
  width: 450px;
  height: 50px;
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid #bdae82;
  box-sizing: border-box;
  border-radius: 0px;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  font-family: "Inter", sans-serif;
  line-height: 40px;
  color: #bdae82;
  padding: 5px 0 5px 20px;
  margin-bottom: 20px;
  background-color: transparent;
}
textarea::-webkit-input-placeholder {
  color: #bdae82;
}

input::-webkit-input-placeholder {
  color: #bdae82;
}
.contacts-container > form > textarea {
  width: 450px;
  height: 100px;
  background: rgba(0, 0, 0, 0.5);
  background-color: transparent;
  border: 2px solid #bdae82;
  box-sizing: border-box;
  border-radius: 0px;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  font-family: "Inter", sans-serif;
  line-height: 40px;
  color: #bdae82;
  padding: 4px 0 5px 19px;
  margin-top: 0px;
  border-radius: 0;
}

.contacts-container > form > button {
  width: 220px;
  height: 55px;
  background-color: #bdae82;
  color: black;
  border-radius: 0px;
  border-color: #bdae82;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  color: #000000;
  margin-top: 25px;
  box-sizing: content-box;
}

.contacts-container > form > button:hover {
  transition: 0.5s;
  cursor: pointer;
  background-color: black;
  color: #bdae82;
  border: 2px solid #bdae82;
}

.footer-container {
  width: 1440px;
  height: 150px;
  background-color: black;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  display: flex;
  padding-top: 50px;
  padding-left: 27px;
}
.footer-data {
  width: 182px;
  height: 50px;
  display: flex;

  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 50px;
  letter-spacing: 0.3px;
}
.footer-data > div {
  display: flex;
  color: white;
  list-style: none;
}
.footer-data > div > p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 50px;
  padding-right: 20px;
}
.footer-data > div > p > a {
  color: white;
  text-decoration: none;
}

.footer-container > p {
  width: 211px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 50px;
  padding-left: 35px;
}
.footer-container > p > a {
  text-decoration: none;
  color: white;
}

.footer-svgs {
  width: 188px;
  height: 50px;
  padding-top: 13px;
  margin-right: 20px;
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
}
.footer-svgs > li {
  padding-left: 28px;
}

.footer-svgs > li:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
  animation: bounce 1s;
}
.hamburger {
  display: none;
}

@media (max-width: 768px) {
  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50px;
    height: 39px;
    padding-top: 25px;
    padding-right: 46px;
    z-index: 12;
  }

  .hamburger:hover {
    cursor: pointer;
  }

  .hamburger > .line {
    width: auto;
    background-color: #ffffff;
    height: 3px;
  }

  #hamburger.is-active .line:nth-child(2) {
    opacity: 0;
    transition: 0.5s;
  }

  #hamburger.is-active {
    padding-right: 53px;
  }

  #hamburger.is-active .line:nth-child(1) {
    height: 2px;
    width: 60px;
    -webkit-transform: translateY(13px) rotate(-45deg);
    -ms-transform: translateY(13px) rotate(-45deg);
    -o-transform: translateY(13px) rotate(-45deg);
    transform: translateY(13px) rotate(-45deg);
    transition: 0.5s;
  }

  #hamburger.is-active .line:nth-child(3) {
    height: 2px;
    width: 60px;
    -webkit-transform: translateY(-13px) rotate(45deg);
    -ms-transform: translateY(-13px) rotate(45deg);
    -o-transform: translateY(-13px) rotate(45deg);
    transform: translateY(-13px) rotate(45deg);
    transition: 0.5s;
  }

  .nav-list {
    display: none;
  }

  .header-navigation {
    justify-content: space-between;
  }

  .lang-switch-container {
    margin-left: auto;
    padding-right: 32px;
  }
  .logo-image {
    padding-left: 60px;
  }

  .lang-item {
    margin-left: auto;
    margin-right: auto;
  }
  #ru {
    margin-right: 10px;
  }
  #divider {
    margin-right: 8px;
  }
  .header > .container {
    background-size: auto 620px;
    height: 90px;
    background-position: -5px -30px;
  }

  .hero-container {
    background-size: auto 620px;
    background-position: -5px -120px;
    height: 500px;
    padding: 0;
    margin: 0;
    display: flex;
    width: 100%;
  }

  .container {
    padding: 0px;
  }

  .hero-text {
    width: auto;
    height: 500px;
    padding-left: 60px;
    padding-top: 80px;
  }

  .hero-text > .section-title {
    width: auto;
    height: auto;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 64px;
  }

  .hero-text > p {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    padding-top: 9px;
    width: auto;
    max-width: 390px;
    min-height: 72px;
  }

  #hire-me-btn {
    margin-top: -15px;
  }

  .header-section {
    font-size: 32px;
    line-height: 40px;
    width: auto;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
  }

  .horizontal-line {
    max-width: 115px;
    height: 0.7px;
    background-color: #bdae82;
    border-radius: 0px;
  }

  .header-section > .section-title {
    padding: 100px 20px;
    font-size: 32px;
  }

  .skills-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: auto;
    width: auto;
    max-width: 690px;
    padding: 0;
    margin: 0;
    margin-top: -63px;
    margin-left: auto;
    margin-right: auto;
  }

  .skills-items > div {
    display: flex;
    justify-content: center;
    min-height: 224px;
    width: 300px;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    margin-left: 10px;
  }

  .skills-items > div > img {
    padding: 0;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .skills-title {
    box-sizing: border-box;
    width: auto;
    max-width: 280px;
    padding: 0;
    margin: 0;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
  }

  .skills-details {
    width: auto;
    max-width: 280px;
    height: auto;

    line-height: 22px;
    padding: 0;
    margin: 0;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  #portfolio {
    width: auto;
    height: auto;
    max-width: 768px;
    padding-left: 15px;
    margin-top: 22px;
  }
  #portfolio > .header-section > hr {
    max-width: 110px;
  }
  #portfolio > .header-section > h2 {
    width: auto;
    max-width: 185px;
  }
  #portfolio > .header-section {
    margin-left: auto;
    margin-right: auto;
    padding-top: 9px;
    max-width: 364px;
    padding-left: 4px;
  }
  .portfolio-items {
    flex-flow: wrap;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;

    padding-left: 5px;
  }
  .season-button {
    margin: 2px;
  }
  #seasons {
    width: auto;
    max-width: 768px;
    margin-top: 0px;
  }

  .portfolio-img-container {
    max-width: 450px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    margin-top: 90px;
  }

  .portfolio-img-container > img {
    width: auto;
    max-width: 450px;
    height: auto;
    max-height: 560px;
  }

  #video {
    width: auto;
    max-width: 768px;
    height: 628px;
    margin-top: -25px;
    padding: 0;
    margin-right: 0;
  }

  .video-player {
    height: 54.4vw;
    width: auto;
    max-width: 768px;
    height: auto;
    padding: 0;
    margin: 0;
    margin-top: -30px;
    background-size: auto 418px;
    background-position: -3px 2px;
    background-repeat: no-repeat;
  }

  .play-hover > img {
    max-width: 65px;
    max-height: 65px;
  }

  .play-hover {
    padding-top: 178px;
    padding-left: 16px;
  }

  #price {
    width: auto;
    max-width: 768px;
    height: auto;
  }

  #price > div {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
  }

  #price-items-container {
    width: auto;
    max-width: 768px;
    height: auto;
    padding-left: 40px;
  }

  #price-items-container > div {
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 0px;
    margin-top: -30px;
  }

  #price-items-container > div > div {
    max-width: 420px;
    max-height: 505px;
    margin-bottom: 50px;
  }

  #contacts {
    background-image: url("./assets/img/contacts_768.jpg");
    width: auto;
    max-width: 768px;
    max-height: 600px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
  }

  .contacts-container {
    width: auto;
    max-width: 450px;
    max-height: 429px;
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 65px;
  }
  .contacts-container > h2 {
    font-size: 32px;
    line-height: 64px;
    text-align: center;
  }
  .contacts-container > form > button {
    margin-left: 115px;
    margin-top: 27px;
    border: none;
  }
  .contacts-container > form > input,
  .contacts-container > form > textarea {
    max-width: 450px;
    background: rgba(0, 0, 0, 0.5);
    padding-left: 18px;
  }

  .footer-container {
    width: auto;
    max-width: 768px;
    max-height: 190px;
    flex-direction: column;
    padding: 0;
    margin-top: 14px;
  }
  .footer-data {
    margin-left: auto;
    margin-right: auto;
    padding-left: 25px;
    line-height: 24px;
  }
  .footer-container > p {
    max-width: 220px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-top: 5px;
    line-height: 24px;
  }
  .footer-svgs {
    max-width: 188px;
    margin-left: auto;
    margin-right: auto;

    justify-content: space-between;
    padding-left: 15px;
  }
  .footer-svgs > li {
    padding-left: 0px;
  }

  .menu {
    display: flex;
    position: fixed;
    top: 0px;
    right: -620px;
    transition: all 1s ease-in-out;
    flex-direction: column;
    max-width: 603px;
    width: 100%;
    height: 100%;
    background-color: black;
    justify-content: start;
    padding-top: 145px;
    z-index: 10;
    padding-right: 0px;
  }
  .header-navigation {
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
  }

  .open {
    right: 0;
  }
  .container {
    background: rgba(0, 0, 0, 0.5);
  }
  .menu > .nav-item {
    padding-bottom: 38.5px;
    margin-right: auto;
    margin-right: auto;
  }
  .menu > .nav-item > .nav-link {
    font-size: 35px;
    font-weight: 400;
    padding-left: 127px;
  }
}

@media (max-width: 585px) {
  .contacts-container > form > input,
  .contacts-container > form > textarea {
    width: auto;
    max-width: 80%;
  }

  .contacts-container {
    margin-left: 20px;
  }

  .contacts-container > form > button {
    margin-left: auto;
  }

  .portfolio-img-container {
    width: auto;
  }

  .portfolio-img-container > img {
    max-width: 90%;
    max-height: 90%;
  }

  #price-items-container > div > div {
    width: auto;
  }
  .contacts-container {
    padding: 0;
  }
}

@media (max-width: 1600px) and (min-width: 769px) {
  .nav-list,
  .header-section {
    width: auto;
  }
  .container {
    padding: 0;
  }

  .transparent-layer {
    visibility: hidden;
  }

  .header-section,
  #seasons {
    display: flex;
    justify-content: center;
  }

  .skills-items {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: auto;
  }

  .skills-items > div {
    margin-bottom: 35px;
  }
  #seasons,
  .portfolio-items,
  .portfolio-img-container,
  #price-items-container {
    width: auto;
    flex-wrap: wrap;
    height: auto;
  }

  #portfolio,
  #video,
  .video-player,
  #price,
  #contacts,
  .footer-container {
    width: auto;
    height: auto;
  }
  #portfolio {
    width: 100%;
  }
  .video-player {
    width: auto;
    height: 705px;
    background-position: center 00px;
    background-repeat: no-repeat;
  }
  .play-hover {
    padding-top: 270px;
  }

  .season-button {
    margin-bottom: 5px;
  }

  .portfolio-img-container > img {
    margin-right: auto;
    margin-left: auto;
  }

  #price-items-container > div {
    width: auto;
    height: auto;
    flex-wrap: wrap;
  }
  #price-items-container > div > div {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
}
.transparent-layer {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.visible-off {
  visibility: hidden;
}

.active-lang {
  color: #bdae82;
}

.theme-switch {
  margin-right: 20px;
}
.theme-switch:hover {
  cursor: pointer;
}

.white-bg {
  background-color: #ffffff;
}

.black-font {
  color: #000000;
}

.black-line-color {
  border-color: black;
}

.white-font {
  color: white;
}

.black-bg {
  background-color: #000000;
}

.golden-font {
  color: #bdae82;
}

:root {
  --button-bg-color: black;
  --button-font-color: white;
}

.button-style {
  color: var(--button-font-color);
  background-color: var(--button-bg-color);
}
